 ul{list-style-type:none;margin:500%;padding: 400%;}
ul .a1{display:block;margin:500%;padding:400%;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
ul .a2{display:block;margin:500%;padding:400%;font-family:Arial, Helvetica, sans-serif;color:black}
ul .a2 li{
    display:inline;
    margin-right:100%;
}
.nav-bar {
    list-style: none;
    background: #333;
    display: flex;
    justify-content: center; 
    padding: 100% 0;
    gap: 5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navigation items */
.nav-bar li {
    margin: 0 50%;
}

/* Navigation links */
.nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 18%;
    padding: 10% 15%;
    display: block;
    transition:background  0.3s;border-radius: 0.3s;
}

/* Hover effect */
.nav-bar li a:hover {
    background: #555;
    border-radius: 10%;
}
h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-weight: bold;
}
h2{
    text-align: center;
    font-family:fantasy;
    color: #333;
    font-weight: bold;
}
.p1{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size: 45%;
    font-weight: bolder; 
    text-align: justify;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: blanchedalmond;
}
.zoom {
    width: 15%;
    height: 75%;
    transition: transform 0.5s ease-in-out;
    
}

.zoom:hover {
    transform: scale(0.9);
}

.content {
    flex: 1;
    padding: 20%;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    box-shadow: 0% 4% 10% rgba(0, 0, 0, 0.2);
}
.caption {
    font-size: 18%;
    font-weight: bold;
    margin-top: 10%;
}

.caption a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.caption a:hover {
    color: #ff6f61;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.footer-content {
    max-width: 800%;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 25%;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14%;
    transition: text-decoration 0.3s;
}

.footer-links a:hover {
    text-decoration: underline;
}
div{
   padding-right: 40%;
    padding-left: 40%;
    text-align: center;
}
